In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys, os

In [9]:
redscale_qbc = pd.read_csv('../top2/QBC.csv')
greyscale_qbc = pd.read_csv('../../top1_copy/QBC.csv')
combined = pd.DataFrame()

combined['redscale'] = redscale_qbc.QBC_hr
combined['greyscale'] = greyscale_qbc.QBC_hr
combined['actual'] = greyscale_qbc.actual_hr

combined['avg'] = (combined.redscale + combined.greyscale)/2
combined['SE']  = (combined.actual - combined.avg)**2
combined

      redscale   greyscale  actual         avg          SE
0    95.623596   86.331207   100.0   90.977402   81.407279
1    61.977783   65.388039    54.0   63.682911   93.758764
2    76.484177   77.804825    85.0   77.144501   61.708869
3    74.682999   74.694366    58.0   74.688683  278.512125
4    81.345322   77.724365    72.0   79.534843   56.773866
5    75.892075   84.072784    87.0   79.982430   49.246296
6    56.867691   52.324219    66.0   54.595955  130.052245
7    74.210434   76.289772    82.0   75.250103   45.561110
8    95.207596  110.366867   102.0  102.787231    0.619733
9    76.067688   77.845573    82.0   76.956631   25.435574
10  114.514069  115.071335   120.0  114.792702   27.115955
11   94.237106   92.779350    96.0   93.508228    6.208926
12   76.848618   81.848602    89.0   79.348610   93.149330
13   79.076630   76.156021    86.0   77.616325   70.286000

In [10]:
combined.SE.sum()/len(combined)

72.84543375359083